<div id="top_nav">

	<%- include('header#complement_auth') %>

	<div id="auth">
		<div id="login">
			<a href="<%- address.path.login_local %>">login</a>
		</div>
		<div id="register">
			<a href="<%- address.path.register %>">register</a>
		</div>
	</div>
</div>