<div id="top_nav">
	<div id="menubar">
		<img src="../img/menubar.png">
	</div>
	<div id="banner">
		<a href="<%- hrefAddress.home %>"><img src="../img/sajiyo.jpg"></a>
	</div>
	<div id="searchbar">
		<form action="search" method="get">
			<input id="searchbar" type="text" name="q">
			<img id="search" src="../img/search.png">
			<input class="hidden" type="submit">
		</form>
	</div>
	<div id="auth">
		<div id="upload">
			<a href="<%- hrefAddress.logout %>"><img src="../img/upload.png"></a>
		</div>
		<div id="withdrawal">
			<a href="<%- hrefAddress.withdrawal %>">withdrawal</a>
		</div>
		<div id="logout">
			<a href="<%- hrefAddress.logout %>"><img src="../img/login_status.png"></a>
		</div>
	</div>
</div>