<div id="top_nav">

	<%- include('header#complement_auth') %>

	<div id="auth">
		<div>Default </div>
		<a id="login" href="<%- address.path.login_local %>">로그인</a>
		<a id="register" href="<%- address.path.register %>">회원가입</a>
	</div>
</div>