<div id="top_nav">
	<div id="banner">
		<a href="<%- hrefAddress.home %>"><img src="../img/sajiyo.jpg"></a>
	</div>
	<div>
		<form action="search" method="get">
			<input type="text" name="q">
			<input type="submit">
		</form>
	</div>
	<div id="auth">
		<div>
			<a href="<%- hrefAddress.login_local %>">login</a>
		</div>
		<div>
			<a href="<%- hrefAddress.register %>">register</a>
		</div>
	</div>
</div>