<div id="top_nav">

	<%- include('header#complement_auth') %>

	<div id="auth">
		<div>Default </div>
		<a id="login" class="button_box" href="<%- address.path.login_local %>">
			Login
		</a>
		<a id="upload" class="button_box" href="<%- address.path.upload_youtube %>">
			Upload
		</a>
	</div>
</div>