<h1>Welcome to the pineapple!!!</h1>
<div>대표적인 열대과일 중 하나. 외떡잎식물 벼목 파인애플과의 식물이다.

중앙아메리카와 남아메리카 북부 원산으로 그곳에서는 오래 전부터 재배했고, 포르투갈, 스페인을 통해 세계 각지에 퍼졌다. 루이 14세가 껍질도 안 벗기고 손으로 집어먹었다가 혀를 다쳐 분노한 나머지 이 과일을 먹는 것을 금지하기도 했다. 높은 사람이 멍청하면 시민이 고생한다. 어떻게 그걸 껍질을 안벗기고 먹을생각을 했지

집합과. 여러개의 꽃이 모여 합체한 열매다. 덕분에 특이하기 짝이 없는 모양새를 가졌는데, 이걸 처음 봤던 사람들이 대부분 솔방울 혹은 거북 쪽을 연상해서 이름도 그쪽으로 지어졌다. 생김새 때문에 과일 부분은 감자처럼 땅에 박혀서 자라고 위에 풀때기만 땅위에 솟아서 자란다고 착각 하는 사람들이 종종 있다.

포르투갈어인 ananas는 카리브 지역 토착어인 nanas(거북열매)에 접두어를 붙인 형태이다. 영문명인 파인애플은 pine(소나무)+apple(사과)이고, 사실 대부분의 서구권에서는 anana와 비슷한 이름으로 부르며, 파인애플이라고 부르는 지역은 영어권이나 영어를 그대로 차용한 한국이나 일본 정도다.사실 브라질에서는 ananás 보다 abacaxí 라는 말로 더 불린다사실 은근히 강력한 식물인데 파인애플의 과즙 내에는 다량의 산과 단백질 분해 효소인 브로멜린이 있기에 많이먹으면 입 안이 따갑고 얼얼해지며, 특히 너무 많이 먹으면 입안이 녹아 피가 날수 있다! 멋도 모르고 우걱우걱 먹다가 입안이 너무 따가워서 거울 봤다가 피로 흥건한 입 속과 혓바닥을 보고 기겁하는 사람들도 종종 있다(...).
뱃속에 들어가면 괜찮다. 삼킨 음식은 식도를 빠르게 통과하며 위는 산성과 다른 효소에서 보호받고 파인애플 효소는 위에서 죄다 무력화된다. 최종병기 위산

이 브로멜린을 이용해 질긴 고기의 연육에도 이용한다. 파인애플은 똑같은 종류의 분해효소를 가진 무, 배와는 비교를 불허할 정도로 그 효력이 차원을 달리한다.[2] 손님 접대하려고 파인애플에 고기를 재워뒀는데 정작 손님이 오니 고기는 없어지고 물만 남았더라는 괴담도 전해진다. 이건 과장이더라도 "많이 넣으면 더 부드러워 지겠지?"하는 생각에 잔뜩 집어넣었다가 구웠을 때 고기가 알아서 다져진 사이즈가 되는 것은 목격할 수 있다. 여러모로 다루기 어려운 과일인 것 같다.

파인애플에 함유된 이 브로멜린의 목적은 기생충 학살. 과육을 먹기 위해 기생하는 애벌레들을 녹여버리려고 분비하는 것이다. 웹툰을 보면 매우 맛깔지게 설명된 것을 볼 수 있다. 물론 자연의 싸움이 그렇듯이(?) 열대지방에는 이 효소에 내성을 가진 벌레가 있다(...).

다른 과일들이 비타민 C가 많은 반면에 파인애플은 비타민 B1이 많다.

베트남에 가면 이걸 껍질을 벗긴 채로 노점에서 판다. 지그재그처럼 돌리듯 껍질을 까면서 그야말로 최소한만 버리고 철저하게 먹는다. 한국 노점에서도 길쭉하게 토막내어 나무 꼬치나 젓가락에 꽂아 팔기도 한다. 여름에 큰 얼음 위에 올려놓은 모습이 많이 보인다.

스테이크 등을 구워먹을 때 함께 그릴에 얹어두고 구워먹어도 맛있다고 한다. 실제로 스테이크 조각과 파인애플 등을 꼬치에 꽂아서 들고 다니면서 먹기도 한다.

파인애플 모양의 헤어스타일을 파인애플머리라고 부르기도 한다. 대표적으로 원피스의 마르코나 가정교사 히트맨 리본의 로쿠도 무쿠로가 이런 모양의 머리를 하고 있다. 실사로는 2000년도 신화 3집 후속곡 All your dreams 활동 때의 신혜성...

틈새라면에서는 단무지를 부를 때 쓰는 이름이기도 하다.

이것으로 샐러드를 만들면 사망률 100% 저주가 될 수 있다.</div>