<div>Archive</div>
<br>
<div>
	<div class="row">
		<div class="column">No</div>
		<div class="column">Title</div>
		<div class="column">Video</div>
	</div>
	<% for (var i=0; i<obj.length; i++) { %>
		<div class="row">
			<a href="<%- address.path.post + obj[i]['no'] %>">
				<div class="column"><%- obj[i]['no'] %></div>
				<div class="column"><%- obj[i]['title'] %></div>
				<div class="column">
					<img src="<%- obj[i].thumbnails_medium_url %>">
				</div>
			</a>
		</div>
	<% }; %>
</div>