<h1>Login</h1>
<form method="post">
	<input type="text" name="username" placeholder="username">	
	<p></p>
	<input type="password" name="password" placeholder="****">
	<p></p>
	<input type="submit">
</form>
<br>
<div>
	<a href="<%- address.path.login_google %>">Google 로그인</a>
</div>
<br>