<div>Post</div>
<br>
<div>
	<%- obj.title%>
</div>
<br>
<img src=<%- '\"/img/'+ obj.img +'\"' %>>
<br>
<iframe width="300" height="315" src="<%- obj.videourl %>" frameborder="0" allowfullscreen></iframe>