<div>정말로 탈퇴하시겠습니까?</div>
<br>
<form method="post">
	예<input type="radio" name="decision" value="true">
	아니오<input type="radio" name="decision" value="false" checked>
	<input type="submit" value="결정">
</form>