<div>Post</div>
<br>
<div>
	<%- title%>
</div>
<br>
<img src=<%- '\"/img/'+ img +'\"' %>>
<br>
<iframe width="300" height="315" src=<%- '\"'+ videourl +'\"' %> frameborder="0" allowfullscreen></iframe>