<div>Upload YouTube URL</div>
<br>
<div>
	<form method="post">
		<div>
			<div>제목</div>
			<input type="text" name="title">
		</div>
		<br>
		<div>
			<div>YouTube URL</div>
			<input type="text" name="url">
		</div>
		<br>
		<div>
			<input type="submit">
		</div>
	</form>
	<br>
</div>
