<h1>Register</h1>
<form method="post">
	<input type="text" name="username" placeholder="username">	
	<p></p>
	<input type="password" name="password" placeholder="****">
	<p></p>
	<input type="text" name="nickname" placeholder="nickname">
	<p></p>
	<input type="submit">
</form>
